    :root {
        --colorWeb:  #ebebeb;
        --colorVerde: #39b54a;
        --colorGrisOscuro:  #ebebeb;
        --colorCeleste: #1259c3;
        --colorAzul: #03264C;
        --colorAmarillo: #EAC926;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    background-color: var(--colorWeb);
}


.section__div p {
    font-size: 18px;
}

.section__div h3 {
    font-size: 16px;
}


main {
    background-color: var(--colorWeb);
    width: 90%;
    margin: 0 auto
}
 