    .header__padre {
        background-color: #EAC926;
    }

    .header__padre  div ul li a {
        text-decoration: none;
        color: black;   
    }

    .header__padre div ul {
        text-decoration: none;
        margin-top: 20px;
    } 

    


    .logo{
    width: 200px;
    }


    .home_header_burger-menu{
        text-align: center;
        color: white;
        background-color: blue;
        margin: 0 46%;
        width: 30px;
        padding: 5px;
        border-radius: 3px;
    }

    .login ul div   {
        display: flex;
        gap: 3px;
        align-items: center;
    }

    .icon-tarjeta {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: auto;
    }

    .icon-tarjeta i {
        display: flex;
        align-items: center;
    }



    @media (min-width: 391px){
        .home_header_burger-menu {
            display: none;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
    }

    @media (min-width: 768px){
    }
