:root {
    --colorWeb:  #ebebeb;
    --colorVerde: #39b54a;
    --colorGrisOscuro:  #ebebeb;
    --colorCeleste: #1259c3;
    --colorAzul: #03264C;
    --colorAmarillo: #EAC926;
}



.footer-section {
    text-align: center;
    margin: 50px;
    font-size: 15px;
    /* width: 30%; */
}

.footer-section section {
    margin: 15px;
}


.footer-section h4 {
    padding: 20px;
}

.footer-section h5 {
    padding: 30px;
}

.footer-section i {
    color: var(--colorAzul);
    height: 15px;
}

.footer-section .div-section section i {
    color: var(--colorCeleste);
   font-size: 30px;
}


.main-padre section .box-item {
    margin: 10px;
    padding: 6px;
    width: 95%;
}

.main-padre section div {
    margin-bottom: 1px;
}


.section__div i {
    display: flex;
    border-radius: 20px;
    
}

.section__div {
    background-color: white;
}

.section__div img {
    width: 100%;
}

.texto-de-compra {
    text-align: center;
    margin: 10px;
}

.img-i-p-h3 {
    background-color: white;
    gap: 10px;
}

.ofertas {
    padding: 5px;
    margin: 10px;
    color:var(--colorGrisOscuro);
}


.main-padre section .box-item .off  {
    color: var(--colorVerde);
}

.box-item {
    width: 90%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
    position: relative;
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
}


.main-padre {
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

.main-padre section {
    width: 90%;
    margin: auto;
}


.fa-truck:before {
    color: var(--colorVerde);
}


.contenedor-img-search {
    padding: 10px;
}

.container-busqueda {
    display: flex;
    padding: 10px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    margin-left: 25px;
    /* margin: 12px; */
}



.img-i-p-h3 i {
    content: "\f0d1";
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 2seg;
}

.img-i-p-h3 {
    position: relative;
}


.precio-off {
    display: flex;
    margin: 2px;
    gap: 1rem;
    padding-left: 10px;
}

.h4-off {
    padding: 16px;
}


@media (min-width: 768px){  


   .banner img {
    width: 100%;
    height: 100%;
    }


.main-padre section {
    /* display: flex; */
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    grid-gap: 10px;
}

    nav{
        display: flex;
        justify-content: space-between;
}

    nav div ul{
       align-content: flex-end;
       display: flex;
       padding: 5px;
    }

    nav div ul li{
        list-style: none;
        margin: 10px;
        
    }

    .contenedor-img-search {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        justify-content: space-around;
    } 

    


    .header__padre {
        background-color: #EAC926;
        height: 145px;
    }

    .h4-off {
        padding: 16px;
    }

    .input {
        width: 100px;
    }

}




@media (min-width: 1024px){
 

    .banner img {
        width: 100%;
        height: auto;
    }   
    
    .main-padre section {
        display: flex;
        flex-direction: row;
        
    }


    .contenedor-img-search {
        display: flex;
        padding: 10px;
    }
    
    .box-item h3  {
        overflow: hidden;
        height: 0;
        transition: all 3s;
        margin: 10px;   
    }

    .img-i-p-h3 {
        height: 90px;
        align-items: flex-start;
    }

    .box-item:hover h3  {
        height: 50px;
    }


    .img-i-p-h3 i:hover {
        transform: rotate(-90deg);
    }

    .img-i-p-h3 i {
        transition: all 1s;
    }


    .div-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* flex-wrap: wrap; */
        /* width: 100%; */
        
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .footer-section section {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-section section h5 {
        justify-content: space-between;
    }

    .footer-section p h4 {
        width: 100%;
    }

    .box-item {
        transition: all 0.5s;
        box-shadow: 0px 0px 0px 0px; 
      }

    .box-item:hover{
        box-shadow: 0px 0px 15px rgb(100, 100, 100);

    }

    .h4-off {
        margin: 20px;
        font-size: 20px;
    }

    .header__padre {
        background-color: #EAC926;
        height: 145px;
    }

    .input {
        width: 280px;
    }

    

}



