.footer-section {
    text-align: center;
    margin: 50px;
    font-size: 15px;
}

.footer-section section {
    margin: 15px;
}

.footer-section h4 {
    padding: 20px;
}

.footer-section h5 {
    padding: 30px;
}

.footer-section i {
    color: #0f69ca;
    height: 15px;
    /* margin: 10px; */
    /* width: 50px; */  
    /* height: 50px; */
    /* display: block; */
}