:root {
    --colorWeb:  #ebebeb;
    --colorVerde: #39b54a;
    --colorGrisOscuro:  #ebebeb;
    --colorCeleste: #1259c3;
    --colorAzul: #03264C;
    --colorAmarillo: #EAC926;
}



.footer-section {
    text-align: center;
    margin: 50px;
    font-size: 15px;
}

.footer-section section {
    margin: 15px;
}

.footer-section h4 {
    padding: 20px;
}

.footer-section h5 {
    padding: 30px;
}

.footer-section i {
    color: var(--colorAzul);
    height: 15px;
    /* margin: 10px; */
    /* width: 50px; */  
    /* height: 50px; */
    /* display: block; */
}


.main-padre section .box-item {
    margin: 10px;
    padding: 6px;
    width: 95%;
}

.main-padre section div {
    margin-bottom: 1px;
    /* justify-content: space-between; */
}


.section__div i {
    display: flex;
    border-radius: 20px;
    
}

.section__div {
    background-color: white;
}

.section__div img {
    width: 100%;
}

.texto-de-compra {
    text-align: center;
    margin: 10px;
}

.img-i-p-h3 {
    background-color: white;
    gap: 10px;
}

.ofertas {
    padding: 5px;
    margin: 10px;
    color:var(--colorGrisOscuro);
}


.main-padre section .box-item .off  {
    color: var(--colorVerde);
}

.box-item {
    width: 90%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.banner img {
    width: 100%;
    height: auto;
}



.contenedor-img-search {
    display: flex;
    padding: 10px;


    
}

.container-busqueda {
    display: flex;
    padding: 10px;
    background-color: white;
    margin: auto;
    border-radius: 10px;    
}


.box-item {
    position: relative;
}

/* 
.img-i-p-h3 i {
    content: "\f0d1";
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
} */


.precio-off {
    display: flex;
    margin: 2px;
    gap: 1rem;
    padding-left: 10px;
}

.main-padre section div h3 {
    padding: 10px;
}


@media (min-width: 768px){
   .box-item {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }

   .banner img {
    width: 100%;
    height: 100%;
    }


.main-padre section {
    /* display: flex; */
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    grid-gap: 10px;
}

    nav{
        display: flex;
        justify-content: space-between;
}

    nav div ul{
       align-content: flex-end;
       display: flex;
       padding: 5px;
    }

    nav div ul li{
        list-style: none;
        margin: 10px;
        
    }

    .contenedor-img-search {
        display: flex;
        /* width: 50%; */
        padding: 10px;
    }

    /* .img-i-p-h3 i {
        content: "\f0d1";
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 390px;
    } */

    


}




@media (min-width: 1024 px){
    .box-item {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    .banner img {
        width: 100%;
        height: auto;
    }   
    
    .main-padre section {
        display: flex;
        flex-direction: row;
    }

    .contenedor-img-search {
        display: flex;
        /* width: 50%; */
        padding: 10px;
    }
    
    /* .img-i-p-h3 i {
        content: "\f0d1";
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 355px;
    } */


   

}



